# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
# If you use pipenv
Pipfile.lock

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IPython history
profile_default/
ipython_config.py

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# VSCode
.vscode/

# Streamlit logs
.streamlit/

# dotenv environment variables file
.env
.env.*

# local virtual environments
venv/
ENV/

# macOS
.DS_Store

# Logs
logs/
*.log

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# FAISS index folder (if generated locally)
faiss_index/

# Others
*.sqlite3